<div class="container mt-3" style="width: 100vh;">
  <div class="justify-content-center">
    <h3>Welcome back to your Todo List.</h3>
    <h3>Good to see you, <span style="color: #007fff;">{{firstName}}</span>.</h3>
    <h3>It's been awhile.</h3>
    <a href="/home" class="btn btn-info">Get started</a>
  </div>
</div>