<div class="container mt-5" style="width: 60vh;">
  <form action="/" method="POST">
    <div class="input-group justify-content-center">
      <h2 class="title">Account Login</h2>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Use guest123" aria-label="Username"
          aria-describedby="basic-addon1" name='Email' value="{{loginInfo.Email}}">
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Use guest321" aria-label="Password"
          aria-describedby="basic-addon1" name='Password' value="{{loginInfo.Password}}">
      </div>
      <button class="btn btn-primary mt-3" type="submit">Sign in</button>
    </div>
  </form>
  {{#if error}}
  <h5 class="btn btn-danger mt-4">{{error}}</h5>
  {{/if}}
</div>