<form action="/todos" method="POST">
  <h6 class="mt-5 text-danger">Todo</h6>
  <div class="input-group mt-3">
    <input type="text" placeholder='Todo ' name="name" class="form-control">
    <div class="input-group-append">
      <button type="submit" class="btn btn-success send">Create</button>
    </div>
  </div>
</form>